################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
/MVC_ADO_CRUD/obj
/.vs/MVC_ADO_CRUD/FileContentIndex/merges
/.vs/MVC_ADO_CRUD/FileContentIndex
